<h1>Seja Bem-vindo!</h1>
<p>João Carlos Ferreira Neto</p>
<p>
    <strong>A data de hoje é</strong>
    <%= date_from_brazil(Date.today()) %>
</p>

<%= render "menu" %>

<p>
    Você está em ambiente de 
    <strong>
        <%= rails_env %>
    </strong>
</p>

<p>
    <%= @nome %>
</p>